@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}


/* navbar start */
.nav-item{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 25px 0;
  width: 100%;
}
.nav-left h2{
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  margin-top: 5px;
}
.nav-center{
  width: 60%;
}
.nav-center ul{
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  margin-top: 15px;
}
.nav-center ul li a{
  font-size: 18px;
  color: #2B2B2B;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
}
.nav-right{
  display: flex;
  align-items: center;
}
.nav-right .img-nav{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.nav-right .nav-icon{
  border: 1px solid black;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.nav-right .nav-icon img{
  width: 18px;
  height: 19px;
  margin-right: 15px;
}
.nav-right .nav-icon a{
  color:#2B2B2B;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
}
/* navbar end */

/* header start */
.header{
  margin-top: 200px;
}
.container{
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 40px;
}
.header-item{
  position: relative;
}
.hed-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.reselt{
  margin: 0 auto;
  width: 900px;
}
.hed-center h3{
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
  color: #333333;
  margin-left: 245px;
  margin-bottom: 10px;
}
.hed-center .hed-text{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.hed-center .hed-text h2{
  font-family: 'Cabin', sans-serif;
  font-size: 60px;
  color: #333333;
}
.hed-center .hed-text span{
  border: 3px solid #2B2B2B;
  width: 135px;
  height: 0px;
}
.hed-center .reselt .pan{
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  color: #2B2B2B;
  margin-left: 345px;
}
.hed-center .reselt .btn-button{
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  background-color: #0099FF;
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  margin-left: 370px;
  margin-top: 50px;
}
.img{
  position: absolute;
  top: 130px;
  left: 800px;
  right: 0;
  flex-wrap: wrap;
  /* display: none; */
}
.im2{
  width: 331px;
}
.img .im1{
  position: absolute;
  top: 100px;
  left: 60px;
  right: 0;
  width: 206px;
}
.img .im3{
  position: absolute;
  top: 220px;
  left: 230px;
  right: 0;
  width: 138px;
}
.img .im4{
  position: absolute;
  top: -120px;
  left: 190px;
  right: 0;
  width: 320px;
}
/* * for the pen */
html, body {
margin: 0;
min-height: 100%;
background-color: #ffffff;
}
/* waves */
.ocean {
height: 80px; /* change the height of the waves here */
width: 100%;
position: absolute;
bottom: 0;
top: 780px;
left: 0;
right: 0;
overflow-x: hidden;
}
.wave {
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
position: absolute;
width: 200%;
height: 100%;
animation: wave 10s -3s linear infinite;
transform: translate3d(0, 0, 0);
opacity: 0.8; 
}
.wave:nth-of-type(2) {
bottom: 0;
animation: wave 18s linear reverse infinite;
opacity: 0.5;
}
.wave:nth-of-type(3) {
bottom: 0;
animation: wave 20s -1s linear infinite;
opacity: 0.5;
}

@keyframes wave {
  0% {transform: translateX(0);}
  50% {transform: translateX(-25%);}
  100% {transform: translateX(-50%);}
}
/* ocean end */

/* header end */







/* mobile navbar start */
.mobile-nav{
  position: absolute;
  z-index: 1;
  top: 0;
  
}
.mobile-nav .nav-mobile{
  height: 100vh;
  /* border: 1px solid black; */
  width: 320px;
  background-color: black;
  /* text-align: center; */
}
.mobile-nav .nav-mobile .box{
  height: 120px;
  background-color: #0099FF;
  border-radius: 0px 0px 70px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-nav .nav-mobile .box h1{
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
  color: #fff;
  margin-right: 70px;
}
.mobile-nav .nav-mobile .box .btn i{
  color: #fff;
  padding: 10px 15px;
}
.mobile-nav .nav-mobile .box .btn i:hover{
  background-color: #f2f3f5;
  border-radius: 50px;
  color: black;
}
.mobile-nav .nav-mobile span{
  display: block;
  margin: 0 auto;
  background-color: #f2f3f5;
  height: 50px;
  font-family: 'Cabin', sans-serif;
  width: 90%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.mobile-nav .nav-mobile ul{
  /* border: 1px solid red; */
  width: 90%;
  margin: 0 auto;
}
.mobile-nav .nav-mobile ul li a{
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}
.mobile-nav .nav-mobile ul li a i{
  margin-right: 15px;
}
/* mobile navbar end */







.none{
  display: none;
}
.img-navs i{
  font-size: 30px;
}
/* responsive start */
@media only screen and (max-width: 1130px){
  .nav-center ul li a{
      font-size: 15px;
  }
}
@media only screen and (max-width: 850px){
  .gamburger{
      display: block;
  }
  .nav-center ul li a{
      display: none;
  }
  .nav-right .nav-icon{
      display: none;
  }
  .reselt{
      margin-left: 150px;
  }
  .hed-center h3{
      font-size: 33.8382px;
  }
  .hed-center .hed-text h2{
      font-size: 77px;
      width: 391px;
  }
  .hed-center .reselt .pan{
      font-size: 28px;
      margin-left: 70px;
  }
  .img{
      position: absolute;
      top: 130px;
      left: 350px;
      right: 0;
  }
  .im2{
      width: 203px;
      position: absolute;
      top: 0;
      left: 150px;
  }
  .img .im1{
      position: absolute;
      top: 60px;
      left: 190px;
      right: 0;
      width: 126px;
  }
  .img .im3{
      position: absolute;
      top: 140px;
      left: 290px;
      right: 0;
      width: 85px;
  }
  .img .im4{
      position: absolute;
      /* border: 1px solid red; */
      top: -140px;
      left: 190px;
      right: 0;
      width: 238px;
  }
  .reselt{
      width: 391px;
      margin-right: 450px;
      margin-top: 160px;
  }
  .hed-center .reselt .btn-button{
      margin-left: 230px;
      margin-top: 50px;
  }
  .ocean{
      margin-top: 250px;
  }
  .hed-text span{
     display: none;
  }
  .nav-right .img-nav{
      margin-right: 0px;
  }
  .ba i{
      font-size: 28px;
  }
}
@media only screen and (max-width: 450px){
  .img{
      position: absolute;
      top: -60px;
      left: -20px;
  }
  .img .img4{
      width: 158px;
  }
  .container{
      padding: 15px;
  }
  .nav-left h2{
      font-size: 20px;
  }
  .hed-center .reselt h3{
      font-size: 24px;
      margin-left: 180px;
  }
  .header-item .reselt{
      margin-top: 150px;
  }
  .hed-center .reselt .hed-text{
      margin-left: 180px;
      width: 264px;
  }
  .hed-center .reselt .hed-text h2{
      font-size: 48px;
  }
  .hed-center .reselt .pan{
      font-size: 14px;
      width: 198px;
      margin-left: 220px;
  }
  .hed-center .reselt .btn-button{
      margin-left: 250px;
  }
}    
@media only screen and (max-width: 415px){
  .img{
      position: absolute;
      top: -60px;
      left: -37px;
  }
}
@media only screen and (max-width: 400px){
  .img{
      position: absolute;
      top: -60px;
      left: -70px;
  }
  .img .img4{
      width: 158px;
      height: 158px;
  }
  .container{
      padding: 15px;
  }
  .nav-left h2{
      font-size: 20px;
  }
  .hed-center .reselt h3{
      font-size: 24px;
      margin-left: 180px;
  }
  .header-item .reselt{
      margin-top: 150px;
  }
  .hed-center .reselt .hed-text{
      margin-left: 180px;
      width: 264px;
  }
  .hed-center .reselt .hed-text h2{
      font-size: 48px;
  }
  .hed-center .reselt .pan{
      font-size: 14px;
      width: 198px;
      margin-left: 220px;
  }
  .hed-center .reselt .btn-button{
      margin-left: 250px;
  }
}

/* responsive end */




/* black start */
.black{
  background-color: black;   
}
.black .nav-item .nav-left h2{
  color: #fff;
}
.black .nav-item .nav-center ul li a{
  color: #fff;
}
.black .nav-item .nav-right .img-nav{
  border: 1px solid red;
}
.black .nav-item .nav-right a{
  color: #fff;
}
.black .hed-center .reselt h3{
  color: #Fff;
}
.black .hed-center .hed-text h2{
  color: #Fff;
}
.black .hed-center .hed-text span{
  border: 3px solid #fff;
}
.black .hed-center .pan{
  color: #fff;
}
/* black end */



/* our-project start */
.our-project{
  margin-top: 350px;
}
.line-up{
  display: flex;
  justify-content: space-between;
}

.line-up .icons ul{
  display: flex;
 
}
.line-up .icons ul li a{
  color: #000;
  font-family: 'Poppins', sans-serif;
}
.line-up .icons ul li{
  padding: 8px;

}

.container .bottom-line{
  border-bottom: 1px solid #000 ;
  padding-top: 5px;
  /* padding-bottom: 5px; */
}
.container .line-bottom .words ul{
  display: flex;
}
.container .line-bottom .words ul h2{
  position: absolute;
  width: 72px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  padding-top: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  
  letter-spacing: 0.02em;
  
  color: #000000;
}
.container .line-bottom .words ul li a{
  color: #000;
  font-family: 'Poppins', sans-serif;
}
.container .line-bottom .words ul li{
  margin: 15px;
  margin-left: 70px;
}
.container .photos .app{
  display: flex;
  width: 525px;
  
}

.container .photos .app .info-for-app{
 margin-left: 20px;
}
.container .photos .app .info-for-app h3{
  margin: 15px;
  font-family: 'Poppins', sans-serif;
}
.container .photos .app .info-for-app p{
  margin: 15px;
}
.container .photos .app .info-for-app i{
  margin-left: 15px;
  
}
.container .rectangle{
  display: flex;
  margin: 0 auto;
  width: 85%;
  justify-content: space-between;
}
.container .rectangle .photos{
  padding-top: 35px;
  width: 524px;
}
.container .rectangle .photos h3{
  font-family: 'Poppins', sans-serif;
}
.container .rectangle .right{
  margin-left: 50px;
}
.container .button .load{
  border: 1px solid #000000
  75%;
  padding: 10px;
  font-size: 14px;
  width: 145px;
  height: 35px;
  background-color: #fff;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);;
}
.container .button{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* our project end */





.contact-new .three-p .p1 {
  padding-right: 20px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  width: 100%;
}

.contact-new .three-p .p2 {
  border: 1px solid black;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.contact-new .img-text {
  position: relative;
  display: flex;
  text-align: center;
}

.contact-new .img-text img {
  position: absolute;
  left: -775px;
  right: 0;
  top: -95px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.contact-new .img-text p {
  position: absolute;
  width: 50%;
  font-weight: 500;
  top: 150px;
  left: 35%;
  font-size: 26px;
  z-index: 1;
  color: rgb(255, 255, 255);
}








.Contact{
  margin-top: 100px;
}

.contact-about {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  margin-top: 300px;
  padding: 20px;
  padding-bottom: 60px;
}

.contact-about .right-tugash {
  width: 500px;
  height: 500px;
}

.contact-about .right-tugash p {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
  color: #838383;
}

.contact-about .right-tugash input {
  padding: 10px;
  margin-top: 13px;
  margin-bottom: 12px;
  border: #E4E4F9;
  font-size: 20px;
  outline: blue;
  background: #E4E4F9;
  width: 500px;
  height: 60px;
}

.contact-about .right-tugash button {
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #0099FF;
  margin-top: 30px;
  width: 500px;
  height: 60px;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #FFFFFF;
}

.contact-about .right-left {
  width: 600px;
  height: 237px;
}







.contact-about .left-tugash {
  flex-wrap: wrap;
  width: 600px;
  height: 400px;
  margin-left: 120px;
} 

/* iPad */
@media only screen and (max-width: 850px) {
  .contact-about .left-tugash {
    position: absolute;
    top: 600px;
    width: 790px;
    margin-left: 0px;
    margin-top: 0;
  }

  .contact-about .right-tugash button {
    position: absolute;
    top: 910px;
    z-index: 1;
  }
  .contact-new .img-text .text{
    display: none;
  }
  .contact-about .left-tugash .textarea {
    width: 790px;
  }
}
/* iPad */


/* iphone */
@media (max-width: 430px) {
.contact-new .img-text img {
  padding: 0;
}
  .contact-about {
    margin-top: 70px;
  }

  .contact-about .left-tugash {
    top: 370px;
  }

  .contact-about .right-tugash input {
    width: 345px;
    height: 50px;
  }

  .contact-about .right-tugash .inp-p1 {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .contact-about p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0px;
  }

  .contact-about .left-tugash .textarea {
    width: 345px;
    height: 260px;
  }
.contact-new .img-text .text{
  display: none;
}
  .contact-about .right-tugash button {
    width: 345px;
    height: 50px;
    position: absolute;
    top: 670px;
  }
  
}
/* iphone */


.contact-about .left-tugash p {
  margin-bottom: 12px;
  font-weight: 500;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

.contact-about .left-tugash textarea {
  outline: none;
  border: none;
  font-size: 20px;
  background: #E4E4F9;
  width: 600px;
  height: 275px;
  padding: 10px;
}



.box1-tugash {
  margin: 0 auto;
  width: 1200px;
}
.box1-tugash .chziq{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #000000;
}

.box2-tg {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}


.right1-tugash h1 {
  margin-bottom: 10px;

}

.right1-tugash .box2-h4 {
  margin-bottom: 10px;
}

.right1-tugash p {
  font-size: 18px;
  font-weight: 500;
  color: #838383;
}


.center1-tugash .center1-p {
  text-align: center;
  margin-top: 175px;
}

.left1-tugash {
  
  position: relative;
  width: 350px;
}
.left1-tugash ul {
  margin-top: 90px;
  margin-left: 70px;
}

.left1-tugash i{
  margin: 10px 17px 10px 0px;
  font-size: 20px;
}







.box2{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
.main2{
  margin-left: 100px;
}
.icon h1{
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 50px;
}
.icon1{
  width: 150px;
  margin-left: 50px;
}
.icon1 i{
  flex-wrap: wrap;
  color: #FFC700;
  font-size: 20px;
}
.imges{
  flex-wrap: wrap;
  display: flex;
}

.main{
  border-radius: 30px;
  flex-wrap: wrap;
  padding: 25px;
  margin-top: 40px;
  border: 2px solid #E7E7E7;
  max-width: 500px;
}
.main {
  position: relative;
  flex-wrap: wrap;
  left: -10px;
  /* padding: -1000px; */
  /* border: 2px solid red; */
} 
.text3{
  margin-top: 20px;
  width: 300px;
}

#main{
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.name{
  position: relative;
  left: 200px;
  top: -20px;
}
#main textarea{
  resize: none;
  /* width: 200px; */
}
#main label{
  font-size: 15px;
  color: #c0b8b8;
}
#main input{
  padding: 7px;
}
#main i{
  color: #D9D9D9;
  font-size: 25px;
}
#main button{
  width: 180px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: #0099FF;
}
hr{
  margin: 0 auto;
  width: 1120px;
}


/* <!-- --------------------desktop start  -------------------> */
.box{
  margin-top: 100px;
}
.des-h1{
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
}
.box2 .main{
  margin: 0 auto; 
  width: 50%;
}

.circle{
  width: 100px;
  flex-wrap: wrap;
  height: 100px;
  border-radius: 50%;
  background-color: #3B3B3B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.circle-img{
  padding: 16px;

  border-radius: 50%;
  transform: rotateY(45deg);
}
.desktop2{
  margin: 0 auto;
  width: 1120px;
}
.circle p{
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 10px;

  font-size: 100px;
  color: #fff;
}
.text h1{
  flex-wrap: wrap;
  max-width: 468px;

  margin-top: 100px;
}
.text img{
  flex-wrap: wrap;
  margin-top: -100px;
  width: 300px;

}
.text{
  max-width: 1168px;
  display: flex;
  justify-content: space-between;
}
.img p{
  position: relative;
  left: 0px;
  font-size: 26.4px;

  width: 300px;
  height: 100px;
  text-align: center;
  background-color: #FCFCFC;
}
.img span{
  font-size: 16px;

} 
.carousel-inner{
  display: flex;

}
.inner2{
  display: none;

}
@media (max-width:900px){
  .main2{
      display: none;
  }

}
@media (max-width:900px){
  .main{
      margin: 0 auto;
  }

}
@media (max-width:400px){
  .form form{
      position: relative;
      left: -200px;
  }

}
@media (max-width:900px){
  textarea{
      height: 250px;
      margin-right: 210px;
      margin-top: 200px;
     margin-left: -1000px;
     /* margin: 0 auto; */
  }
}
@media (max-width:400px){
  .textarea{
      position: relative;
      left: 25px;
  }
}
@media (max-width:900px){
  .form  #btn{
      z-index: 2;
      margin-top: 300px;
     /* margin: 0 auto; */

  }
}
@media (max-width:900px){
  .circle{
      display: none;

  }
}
@media (max-width:900px){
  .text h1{
      display: none;

  }
}
@media (max-width:900px){
  .name{
      position: relative;
      top: 180px;
      left: -350px;
      /* display: none; */

  }
}
@media (max-width:900px){
  .form{
      position: relative;
      left: 200px;
      /* display: none; */

  }
}
@media (max-width:900px){
  textarea{
      position: relative;
      left: 200px;
      /* display: none; */

  }
}
@media (max-width:900px){
  .img{
      margin-top: -200px;
      padding: 200px;
      width: 200px;
      position: relative;
      left: -210px;
      /* display: none; */

  }
}
@media (max-width:400px){
 .img #carouselExample{
   padding: 60px 60px 60px 60px;
      width: 400px; 
      position: relative;
      left: -7px;
      /* left: -200px; */
      /* display: none; */

  }
}
@media (max-width:400px){
 .img .carousel-item{
  /* width: 200px; */
     position: relative;
     /* padding: 0 500px 0  0; */
      left: 50px;
      /* width: 200px;  */
      /* left: -200px; */
      /* display: none; */

  }
}
@media (max-width:400px){
 .img .carousel-item p{
  
     position: relative;
  
      left: -40px;
   
  }
}

@media (max-width:400px){
 .img .carousel-inner{
  /* width: 200px; */
     position: relative;
  
      left: -25px;
      /* width: 200px;  */
      /* left: -200px; */
      /* display: none; */

  }
}
@media (max-width:900px){
  .form  i{
      margin-top: 0px;
     margin: 0 auto;

  }
}

.carousel-item{
  position: relative;
  left: 200px;
}
#carouselExample{
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  position: relative;
  /* left: 500px; */
  width: 700px;
}
.carousel-control-prev-icon{
  width: 50px;
  height: 50px;
  padding: 15px;
  background-color: #0099FF;
}
.carousel-control-next-icon{
  width: 50px;
  height: 50px;
  background-color: #0099FF;
}


.strel-left{
  cursor: pointer;
  position: relative;
  top: 100px;
  left: 1150px;
  height: 100px;
  width: 100px;
}



/* <!-- --------------------desktop end  -------------------> */
